<section class="container">
    <div class="add-task-container">
        <input type="text" #inputEntry placeholder="Task Name" name="inputEntry">
        <select class="form-control" id="DropdownOptions" #select>
            <option
              *ngFor="let opt of ngOptions"
              [value]="opt.id"
            >
              {{ opt.val }}
            </option>
            <option selected [value]="''" hidden>Select</option>
        </select>
        <button type="button" (click)="addTask(inputEntry.value, select.value)">Add</button>
    </div>
    <div class="tasks-container">
        <div class="task">
            <div class="task-top">
                <p><i class="fa fa-tasks" aria-hidden="true"></i> {{ lists[0].name }}</p>
            </div>
            <ul class="task-bottom">
                <li class="task-bottom-container" *ngFor="let item of toDoList">
                    <div class="task-bottom-container-left">
                        <p>{{ item.id+1 }}. {{item.content}}</p>
                        <div
                        [ngClass]="{'easy': item.level === 'Easy', 'medium' : item.level === 'Medium', 'hard' : item.level === 'Hard'}"
                        ><p>{{ item.level }}</p></div>
                    </div>
                    <div class="task-bottom-container-right">
                        <button
                        (click)="toProgress(item)"
                        type="button" class="icon-div right"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>

                        <button
                        (click)="delete(item)"
                        type="button" class="icon-div delete"><i class="fa fa-times" aria-hidden="true"></i></button>
                    </div>
                </li>
                <li *ngIf="toDoList.length > 0 ? false : true">List is empty</li>
            </ul>
        </div>

        <div class="task">
            <div class="task-top">
                <p><i class="fa fa-tasks" aria-hidden="true"></i> {{ lists[1].name }}</p>
            </div>
            <ul class="task-bottom">
                <li class="task-bottom-container" *ngFor="let item of progressList">
                    <div class="task-bottom-container-left">
                        <p>{{ item.id+1 }}. {{item.content}}</p>
                        <div
                        [ngClass]="{'easy': item.level === 'Easy', 'medium' : item.level === 'Medium', 'hard' : item.level === 'Hard'}"
                        ><p>{{ item.level }}</p></div>
                    </div>
                    <div class="task-bottom-container-right">
                        <button
                        (click)="toToDo(item)"
                         type="button" class="icon-div left"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                        <button
                        (click)="toDone(item)"
                        type="button" class="icon-div right"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                    </div>
                </li>
                <li *ngIf="progressList.length > 0 ? false : true">List is empty</li>
            </ul>
        </div>

        <div class="task">
            <div class="task-top">
                <p><i class="fa fa-tasks" aria-hidden="true"></i> {{ lists[2].name }}</p>
            </div>
            <ul class="task-bottom">
                <li class="task-bottom-container" *ngFor="let item of doneList">
                    <div class="task-bottom-container-left">
                        <p>{{item.content}}</p>
                        <div
                        [ngClass]="{'easy': item.level === 'Easy', 'medium' : item.level === 'Medium', 'hard' : item.level === 'Hard'}"
                        ><p>{{ item.level }}</p></div>
                    </div>
                    <div class="task-bottom-container-right">
                        <button
                        (click)="toProgressFromDone(item)"
                        type="button" class="icon-div left"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                    </div>
                </li>
                <li *ngIf="doneList.length > 0 ? false : true">List is empty</li>
            </ul>
        </div>
    </div>
</section>